BuildLog.htm
Debug
Release
zfl.lib
zfl.ncb
zfl.suo
zfl.vcproj.WS200902.user.user
zfl_selftest.exe.embed.manifest
zfl_selftest.exe.embed.manifest.res
zfl_selftest.exe.intermediate.manifest
zfl_selftest.vcproj.WS200902.user.user
mt.dep
*.exe
*.obj
*.ilk
*.pdb
*.idb
*.lib