INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config/
configure
doc/Makefile
doc/Makefile.in
libtool
src/.deps/
src/Makefile
src/Makefile.in
src/libczmq.pc
src/platform.hpp
src/platform.hpp.in
src/platform.hpp.in~
src/stamp-h1
src/*.o
src/mtrace.txt
src/outbin
src/czmq_selftest
doc/*.3
doc/*.7
doc/*.xml
src/.libs/
src/czmq.la
src/platform.h
src/platform.h.in
src/platform.h.in~
src/*.lo
src/malloc.txt
examples/*.o
examples/zdevice
examples/.deps/
examples/.libs/
examples/core
src/core
ipr
*.gz
*.zip
*.la
win32/czmq.ncb
win32/czmq.vcproj.WS200902.user.user
win32/czmq_selftest.exe.embed.manifest
win32/czmq_selftest.exe.embed.manifest.res
win32/czmq_selftest.exe.intermediate.manifest
win32/czmq_selftest.vcproj.WS200902.user.user
builds/mingw32/*.o

