INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config/
configure
doc/Makefile
doc/Makefile.in
libtool
src/.deps/
src/Makefile
src/Makefile.in
src/libzapi.pc
src/platform.hpp
src/platform.hpp.in
src/platform.hpp.in~
src/stamp-h1
src/*.o
src/mtrace.txt
src/outbin
src/zapi_selftest
doc/*.7
src/.libs/
src/libzapi.la
src/platform.h
src/platform.h.in
src/platform.h.in~
src/*.lo
src/malloc.txt
examples/*.o
examples/zdevice
examples/.deps/
examples/.libs/
examples/core
src/core
ipr
*.gz
*.zip

