# This is a skeleton created by zproject.
# You can add hand-written code here.
save.xml
# Object files
*.o
*.so
*.ko
*.pyc

# Libraries
*.lib
*.a
*.la
*.pc
*.dll.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so.*
*.dylib
*.lo

# Executables
src/czmq_selftest
src/zmakecert
src/zsp
src/test_randof
src/czmq_selftest
*.exe
*.out
*.app
core

# Distcheck workspace and archives
/czmq-*/
/czmq-*.tar.gz
/czmq-*.zip

# Man pages
doc/*.1
doc/*.3
doc/*.7

# autoconf files
.deps
.libs
*.log
*.trs
Makefile
Makefile.in
!builds/openwrt/Makefile
aclocal.m4
autom4te.cache/
config.log
config.status
config/
configure
configure.lineno
libtool
src/platform.h
src/platform.h.in
src/platform.h.in~
src/stamp-h1
src/test-suite.log
src/.dirstamp

# CMake cache
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
cmake_install.cmake
compile_commands.json
DartConfiguration.tcl
install_manifest.txt
Testing/

# Repositories downloaded by CI integration scripts
tmp-deps/

# Travis build area
tmp/

# Valgrind files
callgrind*
vgcore*

# Vagrant files
.vagrant

# CLion / PyCharm
.idea

# GYP files
project.Makefile
*.target.mk
out/

# Android build results
builds/android/prefix

# Android - generated directories
src/app/bin/
src/app/gen/
src/app/obj/
src/app/local.properties

# Android - dependencies
src/app/jni/output

# Python build directory
build/

# MSVC build directories
obj/
bin/
*.tlog

# Qt
*pro.user
moc_*
build-*
bindings/qt/selftest/selftest

# Temporary files
*.swp
*.bak
.test*

# Netbeans directory
nbproject/

# editor backups
*~
