# Travis CI script
# This is a skeleton created by zproject.
# You can add hand-written code here.

language: c

os:
- linux
- osx

dist: trusty

sudo: false

compiler:
- gcc

env:
  global:
    # Note: Secure variables must be global!
    #
    # Wikidot upload credentials.
    - secure: "zatpgQ+uk65yWVmV0qlPX2D37cMBk96AiccGKDXD35z7P2Roo5Fec9GJAHrzHiNbEICGkKLjoOQ36hPAgoezBQt6HTvWF5B61P+WIFDRN0DaBvmChxjfO68QWreu6V30TLvFBa1tHYoHYOc8yEnOrF/zcGp0jzalbucWm479RMM="
    - secure: "ZcLn2Suo/YsKObDPk0hKJJbpe8bOMGZCFwBItq6vE00ZLteNqkamjdNC4p+jaX/9v+G8x1yrKfwti/WJ0/nlTqwaKyy2IhYNKCW0qYctew3w9QXG8OJqOrt0meayAskBO0ZV3RrSLdbwnFx9Nz7smAiCTy/XNkX5hhbDH3NGBSI="
    # Bintray upload credentials. (BINTRAY_USER and BINTRAY_KEY are encrypted!)
    # These are used to publish the czmq jni bindings to bintray when the deploy
    # step is triggered.
    - secure: "ZMvDhR/PxayFeHd70j8J5f260ydu4pSkMV4HFAjRd1e0YuYCy5PUCFIbXWpZ8XujlxcFVSOkfaekIvs4P5KejkKNxoJM+caJ4DAUW/zwtsrHhL1jT7HsCFdEpL2vcOZFXsfWBXkniVU800vgaV+YK4jfewyv0rPTQaImuMlrgRU="
    - secure: "Tc1HPM1HnWr4ZwtPKFMasrLLFgW0WHMZs6ncBFZMhKVKTjUnBO7zdKw4ZXvSEaa1pxqvJhuQRjcbmVL2H8NmT3IdWg7ToSTuDHazUP03QBGvXVKMxIhnPI9cOzsz6LQUklNY4WihairAwlt8hnD+85pU1vl0hEhMNmHLJ7RiT+4="
    - BINTRAY_USER_ORG=zeromq
    # tokens to deploy releases on OBS and create/delete temporary branch on Github.
    # 1) Create a token on https://github.com/settings/tokens/new with "public_repo"
    #    capability and encrypt it with travis encrypt --org -r <org>/<repo> GH_TOKEN="<token>"
    # 2) Create 2 OBS tokens with osc token --create network:messaging:zeromq:release-<stable|draft> <project>
    #    encrypt them with travis encrypt --org -r <org>/<repo> OBS_<STABLE|DRAFT>_TOKEN="<token>"
    # 3) Uncomment the "secure" lines and paste the encrypted tokens
    - secure: O0nI2RARxdXndopjlNI1EnnLvgbjbSk3+ZFuyxz2eW0zGm4/Bx7lRfQSqXnKtEGyjFsGdthVji24h5g1EQnrX0mmOvweH0tiTdfjfubnaUGMStU2DtGPOZMLE93khdwJcOsM9XeSsYK9MeTz3SYTLGsNcXDd6enOnrVygzUdmlk=
    - secure: LYZtGhy+XiKeUOLaqceeTRUZo76y2oo6f8Uv/c8Qvy9LcYueE+lDT5njXO/wUNVKt+V5TRZX/pURxo4osCB1Ax/tNoHIhcsvLzBEsjnd40MBfxvr8finBFVj4v/HOyguLMCljo4GhF4t71T+PY+Ewq5WYo3vxpKNmroZlrHp2Zg=
    - secure: lrkGh4GMacTQJPXgOTtb4PhUnMJEaiXUFXbrsVxeqZBHtFua5bX3gJ34yNkcDOhSqY6LrRJAB4NJu7qIJoh+SzoOwKtR4+pTGh86ioOswjImSNBvVnid/DVPI1w0eDPlMSeq8zESZQ4rurFqRi+gvi7oW2BIlCRrejagDErNmpY=
  matrix:
    - BUILD_TYPE=default
    - BUILD_TYPE=stable_zmq ZMQ_REPO=zeromq2-x
    - BUILD_TYPE=stable_zmq ZMQ_REPO=zeromq3-x
    - BUILD_TYPE=stable_zmq ZMQ_REPO=zeromq4-x
    - BUILD_TYPE=stable_zmq ZMQ_REPO=zeromq4-1
    - BUILD_TYPE=cmake
    - BUILD_TYPE=bindings BINDING=python

matrix:
  include:
  - env: BUILD_TYPE=valgrind
    os: linux
    dist: trusty
    compiler: gcc
    addons:
      apt:
        sources:
        - sourceline: 'deb http://download.opensuse.org/repositories/network:/messaging:/zeromq:/git-draft/xUbuntu_14.04/ ./'
          key_url: 'http://download.opensuse.org/repositories/network:/messaging:/zeromq:/git-draft/xUbuntu_14.04/Release.key'
        packages:
        - valgrind
        - libzmq3-dev
  - env: BUILD_TYPE=android
    compiler: clang
  - env: BUILD_TYPE=bindings BINDING=jni
    os: linux
    compiler: clang
    addons:
      apt:
        packages:
        - openjdk-7-jdk
  - env: BUILD_TYPE=default ADDRESS_SANITIZER=enabled
    os: linux
    dist: trusty
    compiler: gcc
    addons:
      apt:
        sources:
        - sourceline: 'deb http://download.opensuse.org/repositories/network:/messaging:/zeromq:/git-draft/xUbuntu_14.04/ ./'
          key_url: 'http://download.opensuse.org/repositories/network:/messaging:/zeromq:/git-draft/xUbuntu_14.04/Release.key'
        packages:
        - libzmq3-dev
# temporary disabled, does not work
#  - env: BUILD_TYPE=docs
#    os: linux

addons:
  apt:
    sources:
    - sourceline: 'deb http://download.opensuse.org/repositories/network:/messaging:/zeromq:/git-draft/xUbuntu_14.04/ ./'
      key_url: 'http://download.opensuse.org/repositories/network:/messaging:/zeromq:/git-draft/xUbuntu_14.04/Release.key'
    packages:
    - libsystemd-dev
    - liblz4-dev
    - uuid-dev
    - asciidoc
    - xmlto
    - libsodium-dev
    - libzmq3-dev

before_install:
- if [ $TRAVIS_OS_NAME == "osx" -a $BUILD_TYPE == "android" ] ; then brew update; brew install binutils ; fi
- if [ $TRAVIS_OS_NAME == "osx" -a $BUILD_TYPE == "stable_zmq" ] ; then brew update; brew install libsodium lz4 ; fi

# ZMQ stress tests need more open socket (files) than the usual default
# On OSX, it seems the way to set the max files limit is constantly changing, so
# try to use all known knobs to ensure compatibility across various versions
before_script:
- if [ $TRAVIS_OS_NAME == "osx" ] ; then sudo sysctl -w kern.maxfiles=64000 ; sudo sysctl -w kern.maxfilesperproc=64000 ; sudo launchctl limit maxfiles 64000 64000 ; ulimit -n 64000 ; fi

# Build and check this project according to the BUILD_TYPE
script: ./ci_build.sh
# Prepare deployment
before_deploy: . ./ci_deploy.sh && ./ci_deploy_obs.sh
# Upload the prepared deployment to github
deploy:
  provider: releases
  api_key:
    secure: mmpmM0uhaMIKjL7ZkZduDOHkhAWA4Ngaq2FtjQVnUXrsCelSObSLe6BwcvvPp7yYGW44mAmoYPEPWAADatt+6bdVCcf0hgSJS02G4EiuxRAOiZ/ffTaAOhaqfmjuwmZ1cftFUFwehS9JEE9Be59Hv+tGnOOZSkxMWhkQ7xTvidQ=
  file_glob: true
  file: ${CZMQ_DEPLOYMENT}
  skip_cleanup: true
  on:
    branch: master
    tags: true
    condition: $TRAVIS_OS_NAME =~ (linux) && ($BUILD_TYPE =~ (default) || ($BUILD_TYPE =~ (bindings) && $BINDING =~ (jni)))
