#!/usr/bin/make -f
# -*- makefile -*-

override_dh_strip:
	dh_strip --dbg-package=czmq-dbg

override_dh_auto_test:
	echo "Skipped for now"

override_dh_auto_configure:
	dh_auto_configure -- --with-systemd-units

%:
	dh $@ --with autoreconf,systemd

