<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>czmq-static.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0002520D14DC4007844E2F5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15A8678D59DD46D68BD2D303</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F362115A5364C24A8BABC39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2212512CD7F048C6A96A14B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E2603FA20214851B2E6D1EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36FF0C2FA80646AFA312CF43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43DC981E4FFC440DA600EE5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C90C8D7D97C4BA1B8C36D63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69ACE18E3F684B69A0D01C3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BD7E1C1155844BEBBEBFDEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C1561CAB66E4CC695E7C338</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>745EFD230ED944A7B0E6369F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82814DB34A2E46889F9935B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>880C862034A94EF19B765FBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EF174D6540A4936B81A58EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D1930A07354650BCDB2F4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D758F2351D1458BB9937103</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C344504689EC45B589178117</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E77D55D7E2C048EFA53CE756</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2FADE27E1684F9CABFCA0AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3E4BE00C65445859EAADCEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
