<?xml version="1.0" encoding="utf-8"?>
<!-- These values are populated into the package.gsl templates by package.bat. -->
<!-- The target attribute controls path and file name only, id controls package naming. -->
<package id="czmq_vc120" target="czmq" version = "2.2.0.8" pathversion="2_2_0_8" platformtoolset="v120">
  <dependency id="libzmq_vc120" version="4.1.0.7" />
</package>