<?xml version="1.0" encoding="utf-8"?>
<!-- These values are populated into the package.gsl templates by package.bat. -->
<!-- The target attribute controls path and file name only, id controls package naming. -->
<package id="czmq_vc120" target="czmq" namespace="czmq12" version = "2.2.0.7" pathversion="2_2_0_7" platformtoolset="v120" />