*.o
*.so
target/*
*.jar
*.so
\#*
.classpath
.project
.settings/*
bin/*
Makefile
CMakeCache.txt
CMakeFiles/*
cmake_install.cmake
src/main/c++/config.hpp
build/*
target/*
.idea/*
.gradle/*
*.iml
src/native/include/*
*.log
*.dylib
